/* VARIABILI */

/* RESET */

img{
    width: 100%;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* GENERALI */

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ps_fs-12{
    font-size: 12px;
}

.ps_fs-24{
    font-size: 24px;
}

/* HEADER */

.ps_header{
    height: auto;
    flex-shrink: 0;
    padding: 10px 0;
    background-color: rgb(248, 249, 250);
    /* position: sticky;
    top: 0;
    z-index: 999; */
}

.navbar-brand .ps_logo-mobile{
    width: 50px;
}

.ps_header .navbar-nav > .nav-item{
    padding: 0 10px;
}

.dropstart i.fa-solid.fa-bell{
    color:orange;
}

/* MAIN */

.ps_main{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

/* ASIDE */

.ps_aside{
    flex-basis: 70px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: rgb(5, 30, 52);
    color: white;
    padding: 20px;
    background-image: url(../img/sidebar-bg.png);
}

.ps_aside .nav-item{
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 5px;
}

.ps_aside .nav-item:hover{
    background-color: rgba(255,255,255,0.3);
}

/* MEDIAQUERY ASIDE */

@media screen and (min-width: 768px) {

    .ps_aside{
        flex-basis: 150px;
    }

    .ps_aside .navbar-nav i{
       padding-right: 10px;
    }

}

/* MAIN-CONTENT */

.ps_main-content{
    flex-grow: 1;
    overflow: auto;
}

/* CONTENT_HEADER */

.ps_content-header{
    background-color: rgb(27, 114, 232);
}

.ps_boolean .badge,
.ps_boolean-app .badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.ps_app-list{
    gap: 5px;
    flex-wrap: wrap;
}

/* MEDIAQUERY CONTENT-HEADER */

@media screen and (min-width: 768px) {

    .offcanvas{
        width: 40% !important;
    }
}


